/resource/
.DS_Store
__pycache__/
.idea/
*.pt
*.npy
*.npz
*.mscz
*.pyc
/front-end/node_modules/
complex_chord_test.py
a.txt
lookup.xlsx
myplot.png
output
__pycache__
voice.wav
voice.xml
**/*.pyc
**/__pycache__
**/*.wav
**/*.mid
**/*.xml
build
dist
midi2voice.egg-info